table, th, td {
    border:1px solid black;
    border-spacing: 0;  
    border-collapse: separate;
    width: 30vw;
    height: 5vw;
    font-size: 2vw;
    text-align:  center;
    white-space: nowrap;
  }

th, td{
    padding: 0.25vw 2vw 0.25vw 2vw;
}